# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Models & Data (Optional: comment out if you WANT to push them)
# models/*.pkl
# data/*.csv

# OS
.DS_Store
Thumbs.db
